:root {
    --bg-main: #FFFFFF;
    --color-light: #FBFBFB;
    --color-sky: #E8F9FF;
    --color-soft: #C4D9FF;
    --color-purple: #C5BAFF;
    --color-secondary: #0054d8;
    --color-dark: #042046;
    --text-white: #FFFFFF;
    --text-main: #042046;
    --text-black: #333333;
    --text-muted: #666666;
    --color-50: #fffaec;
    --color-100: #fff3d4;
    --color-200: #ffe3a7;
    --color-300: #ffcd70;
    --color-400: #ffac36;
    --color-500: #ff920f;
    --color-600: #f77805;
    --color-700: #c85906;
    --color-800: #9e450e;
    --color-900: #7f3a0f;
    --color-950: #451c05;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}

.hero {
    padding: 150px;
    background-image: linear-gradient(0deg, transparent 0%, transparent 58%, rgba(104, 104, 104, 0.05) 58%, rgba(104, 104, 104, 0.05) 92%, transparent 92%, transparent 100%), linear-gradient(45deg, transparent 0%, transparent 34%, rgba(104, 104, 104, 0.05) 34%, rgba(104, 104, 104, 0.05) 77%, transparent 77%, transparent 100%), linear-gradient(0deg, transparent 0%, transparent 33%, rgba(104, 104, 104, 0.05) 33%, rgba(104, 104, 104, 0.05) 53%, transparent 53%, transparent 100%), linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
    width: 100%;
    height: 55rem;
}

.hero-container {
    max-width: 1500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.hero-left {
    flex: 1;
}

.hero-left h1 {
    font-size: 4.8rem;
    color: var(--color-dark);
    margin-bottom: 15px;
}

.hero-left p {
    font-size: 1.6rem;
    color: #666;
    margin-bottom: 36px;
    max-width: 800px;
}

.hero-btn {
    display: inline-block;
    padding: 12px 25px;
    background: var(--color-500);
    color: var(--text-white);
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: background 0.3s, transform 0.2s;
}

.hero-btn i {
    margin-right: 8px;
}

.hero-btn:hover {
    background: var(--color-700);
    transform: translateY(-2px);
}


.hero-right {
    flex: 1;
    text-align: center;
}

.hero-right img {
    max-width: 100%;
    height: auto;
}

/* Responsive */
@media (max-width: 768px) {
    .hero-container {
        flex-direction: column;
        text-align: center;
    }

    .hero-left h1 {
        font-size: 2.2rem;
    }

    .hero-left p {
        font-size: 1rem;
    }

    .hero-left,
    .hero-right {
        flex: unset;
    }
}